@use '~bootstrap/scss/bootstrap' as bootstrap;
@use 'variables' as vars;
@use 'reset' as *;

body {
  font-family: vars.$font-family-base;
  font-size: vars.$font-size-base;
  color: vars.$dark-color;
}