// Cores
$primary-color: #004594;
$secondary-color: #6c757d;
$success-color: #28a745;
$danger-color: #dc3545;
$warning-color: #ffc107;
$info-color: #17a2b8;
$light-color: #E9FAFF;
$dark-color: #22272A;

// Tipografia
$font-family-base: 'Inter', sans-serif;
$font-size-title: 32px;
$font-size-base: 16px;
$font-weight-normal: 400;
$font-weight-bold: 700;

// Espaçamento
$spacer: 1rem;

// Z-indexes
$zindex-navbar: 1000;
